body{
    background-image: url(e:\image2.webp);

}
h1{
    text-align: center;
    color:burlywood;
    font-size: 42px;
}
h2{
    color: white;
}
#text1{
    color: red;
    text-align: left;
    font-size: 26px;
}
#text2{
    color: red;
    text-align: left;
    font-size: 26px;

}
#textmain1{
    color: white;
}
#text3{
    color: red;
    text-align: left;
    font-size: 26px;
}
#textmain2{
    color: white;
}
#text4{
    color: red;
    text-align: left;
    font-size: 26px;
}
#text5{
    color: red;
    text-align: left;
    font-size: 26px;
}
#textmain3{
    color: white;
}
#text5{
    color: red;
    text-align: left;
    font-size: 26px;
}
#text6{
    color: red;
    text-align: left;
    font-size: 26px;
}
#text7{
    color: red;
    text-align: left;
    font-size: 26px;
}
#textmain4{
    color: white;
}
#text8{
    color: red;
    text-align: left;
    font-size: 26px;
}
#text9{
    color: red;
    text-align: left;
    font-size: 26px;
}