body{
    background-image: url("https://media.discordapp.net/attachments/1125968604907704411/1159879521747611729/image2.webp?ex=6532a0fb&is=65202bfb&hm=f71abb56f2acf1aa61daebbbe2860105452d7e19d98df9985755cb888a716395&=&width=562&height=241");

}
h1{
    text-align: center;
    color:burlywood;
    font-size: 42px;
}
h2{
    color: white;
}
#text1{
    color: red;
    text-align: left;
    font-size: 26px;
}
#text2{
    color: red;
    text-align: left;
    font-size: 26px;

}
#textmain1{
    color: white;
}
#text3{
    color: red;
    text-align: left;
    font-size: 26px;
}
#textmain2{
    color: white;
}
#text4{
    color: red;
    text-align: left;
    font-size: 26px;
}
#text5{
    color: red;
    text-align: left;
    font-size: 26px;
}
#textmain3{
    color: white;
}
#text5{
    color: red;
    text-align: left;
    font-size: 26px;
}
#text6{
    color: red;
    text-align: left;
    font-size: 26px;
}
#text7{
    color: red;
    text-align: left;
    font-size: 26px;
}
#textmain4{
    color: white;
}
#text8{
    color: red;
    text-align: left;
    font-size: 26px;
}
#text9{
    color: red;
    text-align: left;
    font-size: 26px;
}
